{% extends 'layout.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'main_app/styles.css' %}" />
{% endblock %}
{% block content %}
<div class='container survey-container'>
    <h1 class="hero-secion instrument-serif header-text">Where ya at?</h1>
    
    <div class='survey'>

        <div>
            <p class='bold'>Help us get to know more about you and your goals.</p>
        </div>

        <form action="" method="post" class="form-container">
            {% csrf_token %}

            {% comment %} Adding validation error check {% endcomment %}
            {% if form.errors %}
            <div>
                {{ form.errors }}
            </div>
            {% endif %}

            <div>
                <p>What do you want your garden to be named?</p>
                {{ form.name }}
            </div>
            <div>
                <p>Garden address:</p>
                {{ form.address }}
            </div>
            <div>
                <p>What are your main goals for this garden? (Select all that apply.)</p>
                {{ form.goals }}
            </div>
            <div>
                <p>Don't see your goal listed? Add it here!</p>
                {{ form.other_goal }}
            </div>
            <div>
                <p>What are you wishing to grow? (Select all that apply.)</p>
                {{ form.plants_to_grow }}
            </div>
            <div>
                <p>What kind of support do you need to get started? (Select all that apply.)</p>
                {{ form.support_needed }}
            </div>
            <div>
                <p>How soon are you hoping to get started?</p>
                {{ form.timeline }}
            </div>


            <div class="instrument-serif text-lg">
                <p>Thanks for planting the first seed!</p>
            </div>

            <button type="submit" class="btn btn-primary">Continue to Profile</button>

        </form>
    </div>

    {% endblock %}