{% extends "layout.html" %} {% load static %} {% block content %}

<div class="container">
  <h1 class="poppins header-text">Login</h1>
  
  <!-- Displaying feedback notifications so the end user so they understand requirements/constraints -->
 
  <form method="POST" class="form">
    {% csrf_token %}
    <div class="form-input">
      <label>Username</label>
      <input type="text" name="username" placeholder="Enter your username" required />
    </div>
    <div class="form-input">
      <label>Password</label>
      <input type="password" name="password" placeholder="Enter your password" required />
    </div>
    <button class="btn btn-primary" type="submit">Continue</button>
    <p class="">Don't have an account? <a href="{% url 'register' %}" class='link'>Register</a></p>
  </form>
</div>

{% endblock %}
