<!-- Load static files -->
{% load static %}

<!-- Top navigation bar -->
<nav class="navbar">
  <div class="logo-container">
    <a href="">
      <div class="logo">
        <img src="{% static 'main_app/images/FF-Logo-img.png' %}" alt="Logo" class="logo" />
        <p class="inline">Fresh Futures</p>
      </div>
    </a>
    <div id="menuToggle">
      <input type="checkbox" id="menuCheckbox" />
      <!-- These are the 3 lines that make up the hamburger menu icon -->
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        {% if not user.is_authenticated %}
        <li>
          <a href="{% url 'register' %}">
            <label for="menuCheckbox" onclick="this.parentNode.click();">Create An Account</label>
          </a>
        </li>
        <li>
          <a href="{% url 'login' %}">
            <label for="menuCheckbox" onclick="this.parentNode.click();">Sign In</label>
          </a>
        </li>
        {% endif %}
        <li>
          <a href="">
            <label for="menuCheckbox" onclick="this.parentNode.click();">Start a Garden</label>
          </a>
        </li>
        <li>
          <label for="menuCheckbox"><a>Join a Garden</a></label>
        </li>
        <li>
          <label for="menuCheckbox"><a>Donate</a></label>
        </li>
        <li>
          <label for="menuCheckbox"><a>Learn with BeetBot</a></label>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'logout' %}">
            <label for="menuCheckbox" onclick="this.parentNode.click();">Logout</label>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<nav role="navigation"></nav>
