<!-- Load static files -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Fresh Futures</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital,wght@0,400;0,600;1,400&family=Inter:wght@300;400;500;600;700&family=Fredoka:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    {% comment %} New fonts {% endcomment %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'main_app/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'main_app/nav.css' %}" />
  <!-- Leaflet core CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
  <link rel="stylesheet" href="{% static 'main_app/css/map-styles.css' %}" />
</head>

<body>
  <img src="{% static 'main_app/images/FF-background.png' %}" alt="" class="background-image">

  {% include 'header.html' %} {% block content %}{% endblock %} {% include 'footer.html' %}
</body>

</html>